@use '../../scss/' as *;

.home {
    &__title {
        text-align: center;
        margin-top: 50px;
        font-size: 39px;
    }

    &__content {
        display: flex;
        @include flex(center, center);
        width: 100%;
        gap: 50px;
    }

    &__list {
        margin-top: 60px;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;

    }

    &__link {
        list-style: none;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        padding-right: 10px;
        cursor: pointer;
    }

    &__icon {
        position: absolute;
        top: 4px;
        right: -20px;
        transition: all .3s ease 0s;
        margin: 0;
        padding: 0;
        // &.active {
        //     transform: rotate(180deg);

        // }

        // &.notActive {
        //     transform: rotate(0deg);
        // }
        &.active {
            transform: rotate(180deg);
        }

        &.enactive {
            transform: rotate(0);

        }

    }





    &__pods {
        top: 40px;
        background-color: gray;
        transform: translateY(40px);
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
        left: 7px;
        position: absolute;
        z-index: 9;

        &.active {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }

        &.not {
            .home__icon {
                transform: rotate(-180deg);
            }
        }


    }


    &__pod {
        font-size: 14px;
        padding: 10px 15px;
        background-color: orange;

        &:hover {}

        &:not(:last-child) {
            border-bottom: 1px dashed #0c0707;

        }
    }
}


@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}